recursive-include credmon/CredentialMonitors/OAuthCredmonWebserver/static *
recursive-include credmon/CredentialMonitors/OAuthCredmonWebserver/templates *
recursive-include configs *
include bin/scitokens-credmon.wsgi
include README.md
